<nav class="nav">
  <div class="wrap nav-inner">
    <a class="brand" href="./index.html"><div class="m">bd</div><span class="wm">bury <span class="d">digital</span></span></a>
    <div class="nav-links">
      <a href="./index.html#doors">What we do</a>
      <a href="./index.html#capture">Capture</a>
      <a href="./index.html#triage">Triage</a>
      <a href="./index.html#pricing">Pricing</a>
      <a href="./index.html#faq">FAQ</a>
      <a href="./index.html#contact">Contact</a>
    </div>
    <div class="nav-cta">
      <a class="btn btn-primary" href="./start-trial.html">Start Capture free trial</a>
    </div>
  </div>
</nav>
