<nav class="nav">
  <div class="wrap nav-inner">
    <a class="brand" href="./index.html"><div class="m">bd</div><span class="wm">bury <span class="d">digital</span></span></a>
    <div class="nav-links">
      <a href="./index.html#hub">What we do</a>
      <a href="./index.html#using">How it works</a>
      <a href="./index.html#pricing">Pricing</a>
      <a href="./index.html#faq">FAQ</a>
      <a href="./index.html#contact">Contact</a>
    </div>
    <div class="nav-cta">
      <a class="btn btn-primary" href="./start-trial.html">Start free trial</a>
    </div>
  </div>
</nav>
