<nav class="nav">
  <div class="wrap nav-inner">
    <a class="brand" href="./index.html"><div class="m">bd</div>bury<span class="d">digital</span></a>
    <div class="nav-links">
      <a href="./index.html#how">How It Works</a>
      <a href="./index.html#pricing">Pricing</a>
      <a href="./index.html#partner">Partner Program</a>
      <a href="./index.html#faq">FAQ</a>
      <a href="./index.html#contact">Contact</a>
    </div>
    <div class="nav-cta">
      <a class="btn btn-outline" href="./index.html#contact">Book a Demo</a>
      <a class="btn btn-primary" href="./index.html#contact">Get in Touch</a>
    </div>
  </div>
</nav>
